//sizes
$navbar-height: 4rem;
//colors
$bg-full-white: white;
$gary-bg: #F2F3F5;
$app-blue: #105BB6;
$gray-border: rgba(gray, 0.55);
$error: #f44336;
//opacity
$mid-opacity: 0.6;
//typograpy
$white-text: white;
$blackish-text: rgba(#323232, 0.85);